<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link th:href="@{/css/navbar.css}" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</head>

<body class="card-body">

	<div class="row d-flex justify-content-center mt-3">

		<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
			<a class="navbar-brand" th:href="@{/verClientes}" role="button">Listar, actualizar o eliminar clientes</a>
			<a class="navbar-brand" th:href="@{/verCuentas}" role="button">Listar cuentas</a>
			<a class="navbar-brand" th:href="@{/ListarOperacionesPorCuenta}" role="button">Listar cuentas por
				cliente</a>
			<a class="navbar-brand" th:href="@{/verClientes}" role="button">Ingresos y retiradas de una cuenta</a>
			<a class="navbar-brand" th:href="@{/verClientes}" role="button">Adjuntar cliente a cuenta</a>
			<a class="navbar-brand" th:href="@{/verClientes}" role="button">Transferencia</a>
		</nav>

		<div class="card text-white bg-dark mb-3">
			<div class="card-header">Cuentas</div>
			<div class="card-body">

				<div class="col-8">
					<form method="POST" action="/mostrarCuentasPorCliente">
						<select name="id">
							<option value="0">Elige un cliente</option>
							<option th:each="cliente : ${clientesListView}" th:value="${cliente.id}"
								th:utext="${cliente.DNI}"></option>
						</select>
						<input type="submit" value="Buscar" />
					</form>
				</div>

				<div class="col-8 " th:if="${#lists.size(cuentasListView) > 0}">


					<table class="table table-dark table-striped">
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Número de cuenta</th>
								<th scope="col">Fecha de creación</th>
								<th scope="col">Saldo</th>
								<th scope="col">Borrar</th>

							</tr>
						</thead>

						<tbody>
							<th:block th:each="datos : ${cuentasListView}">
								<tr>
									<td scope="row" th:text="${datos.id}" />
									<td scope="row" th:text="${datos.numCuenta}" />
									<td scope="row" th:text="${datos.fecha_crea}" />
									<td scope="row" th:text="${datos.saldo}" />
									<td scope="row" th:hidden="${btnBorrarCuentaEnabled}">
										<form action="eliminarCuentaPorCliente" method="post">
											<button th:disabled="${btnBorrarCuentaEnabled}" type="submit"
												id="btnBorrarCuenta" name="cuentaId" th:value="${datos.id}"
												class="btn btn-danger">▼</button>
										</form>
									</td>
								</tr>
							</th:block>

						</tbody>

					</table>
					<a class="btn btn-primary" th:href="@{index}" id="aBtnReturn" role="button">Volver</a>
				</div>

				<div class="col-8 " th:unless="${#lists.size(cuentasListView) < 0}"></div>
			</div>
		</div>

	</div>

	</div>

</body>

</html>